* {
    font-family: Noto Sans;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $bg-dark;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(laptop-small) { //1450
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-land) { //1267px
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(tab-port) { //1022px
        font-size: 45%;  
    }

    @include respond(phone-big) { //767px
        font-size: 43.75%; //1rem = 7, 7/16
    }
}