// Slide
@-webkit-keyframes slide {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 70%;
  }
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 70%;
  }
}

// @-moz-keyframes slide {
//   from {
//     margin-left: 100%;
//     width: 100%;
//   }

//   to {
//     margin-left: 0%;
//     width: 70%;
//   }
// }

// @-o-keyframes slide {
//   from {
//     margin-left: 100%;
//     width: 100%;
//   }

//   to {
//     margin-left: 0%;
//     width: 70%;
//   }
// }

// FadeIn
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// FadeOut
// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
