.home {
  padding: 0 4rem;
  overflow: auto;
  max-height: 100vh;
  width: auto;

  &::-webkit-scrollbar { width: 0 !important }

  &__content {
    &__header {
      &__title {
        font-size: $nav-selected-size;
        padding: 1.5rem;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &__load {
      text-align: center;
      margin-bottom: 4rem;
    }
  }
}
